ul{
    list-style: none;
    display: flex;
}
li{
    padding-left: 1rem;
    padding-inline-end: 2rem;
}
.Nav{
    display:flex;
    justify-content: space-between;
    right: 10px;
    left:10px;
    padding: 1 rem 1rem;
    background-color: rgb(0, 48, 87);
    height:fit-content;
}
.Col
{
  color: darkslateblue;
  background-color: aliceblue;

}
.Name
{
    padding-inline-start: 2rem;
    color:rgb(173, 226, 230);
}
img{
    width: 600px;
    height:500px;
    padding-top: 3rem;
    padding-inline-end: 5rem;
}
.sec
{
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
}
.white
{
    background-color: aliceblue;
    color: darkslateblue;
    font-size: 25px;
    padding-top: 35px;
    padding-left: 30px;
}
.th
{
    right: 20px;
    left:10px;
}
.imag
{
    display: flex;
    justify-content: space-between;
}
.three
{
    width: 150px;
    height: 150px;
}
.foot
{
    width: 30px;
    height:30px;
}
.footone
{
    display:flex;
    justify-content: center;
    padding: 1rem;
}
.ft
{
    justify-content: center;
}
.cnone
{
    right:40px;
    left:40px;
    background-color: burlywood;
}
.cntwo
{
    display: flex;
    justify-content: space-between;
}
.help
{
    padding-top: 30px;
}
.lmone
{
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    font-size: x-large;
}
.lmtwo
{
    color:darkred;
    font-size: 50px;
}
.lmthree
{
    color:orangered;
    font-size: 25px;
}
.lmfive
{
    padding-top: 40px;
    padding-bottom: 40px;
}
.lmsix
{
    background-color:bisque;
    height: 100px;
    padding-top: 30px;
}
.lmsev
{
    font-size: 30px;
}
.lmegt
{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.lmnin
{
    height: 100px;
    background-color:bisque;
}
.pic
{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 20px; 
    background-color: aliceblue;
}
.fr
{
    background-image: url("https://thumbs.dreamstime.com/b/donations-charity-donation-concept-box-white-background-inscription-donate-153541809.jpg");
}
.home
{
    background-color:rgb(239, 195, 114);
    color: beige;
    font-style: normal;
}